fastapi
uvicorn
pydantic
pydantic-settings
torch
torchvision
torchaudio
onnxruntime
opencv-python
scikit-learn
open_clip_torch
scikit-image
imagehash
grad-cam
umap-learn
cryptography
sqlalchemy
pytest
pycocotools
PyYAML
python-multipart
